
.projects {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-right: 80px;
    margin-left: 80px;
}

.projectItem {
    display: flex;
}

.projectTitle {
    font-size: 24px;
}

.projectDescription {
    font-size: 20px;
}

.projectRegister {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectLink {
    font-size: 20px;
    margin: 0px;
}

.projects hr {
    border: 0; /* Remove o estilo padrão */
    height: 1px; /* Define a altura */
    background-color: #ccc; /* Define uma cor */
    margin: 20px 0; /* Adiciona espaçamento vertical */
    width: 100%; /* Ajusta a largura do separador */
    align-self: center; /* Centraliza o elemento dentro do container flex */
}

.pokedex1 {
    max-width: 500px;
    max-height: 500px;
}

.pokedex2 {
    max-width: 300px;
    max-height: 300px;
}

.toDo1, .toDo2 {
    max-width: 500px;
    max-height: 500px;
}

.pokeAPI1, .pokeAPI2, .pokeAPI3, .pokeAPI4 {
    max-width: 800px;
}

.finantialControl1, .finantialControl2 {
    max-width: 600px;
}

@media screen and ((max-width: 1000px) or (max-height: 400px)) {
    
    .toDo1, .toDo2 {
        max-width: 350px;
        max-height: 350px;
    }

    .finantialControl1, .finantialControl2 {
        max-width: 350px;
    }

    .pokedex1 {
        max-width: 350px;
        max-height: 350px;
    }
    
    .pokedex2 {
        max-width: 250px;
        max-height: 250px;
    }

    .pokeAPI1, .pokeAPI2, .pokeAPI3, .pokeAPI4 {
        max-width: 400px;
    }

    .calculator1 {
        max-width: 250px;
    }

    .watcher1 {
        max-width: 250px;
    }
}

@media screen and ((max-width: 800px) or (max-height: 400px)) {
    .projectItem {
        flex-direction: column;
    }

    .projectLink {
        margin-bottom: 10px;
        text-align: center;
    }

    .projectRegister {
        justify-content: center; /* centraliza no eixo principal */
        align-items: center; /* centraliza no eixo cruzado */
        text-align: center; /* centraliza texto, se aplicável */
    }
    
}

@media screen and ((max-width: 500px) or (max-height: 400px))
{
    .projectTitle {
        font-size: 20px;
    }

    .projectDescription {
        font-size: 16px;
    }

    .projectLink {
        font-size: 16px;
    }

    .toDo1, .toDo2 {
        max-width: 300px;
        max-height: 300px;
    }

    .finantialControl1, .finantialControl2 {
        max-width: 300px;
    }

    .pokedex1 {
        max-width: 300px;
        max-height: 300px;
    }

    .pokeAPI1, .pokeAPI2, .pokeAPI3, .pokeAPI4 {
        max-width: 300px;
    }

    .calculator1 {
        max-width: 250px;
    }

    .watcher1 {
        max-width: 250px;
    }
}