@import url("./home/style.css");

:root {
    --bodyColor:#000000;
    --navColor: #333;
    --fontMenuColor: #fff;
    --fontBodyColor: #9C9C9C;
}

body {
    background-color: var(--bodyColor);
}

p {
    color: var(--fontBodyColor);
}

nav {
    background-color: var(--navColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: var(--fontMenuColor);
    text-decoration: none;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons li {
    margin: 0 5px;
  }
  
  .social-icons img {
    width: 20px;
    height: 20px;
  }