.contact {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
}

.contact hr {
    border: 0; /* Remove o estilo padrão */
    height: 1px; /* Define a altura */
    background-color: #ccc; /* Define uma cor */
    margin: 10px 0; /* Adiciona espaçamento vertical */
    width: 30%; /* Ajusta a largura do separador */
    align-self: center; /* Centraliza o elemento dentro do container flex */
}

.contactItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactTitle {
    font-size: 24px;
    margin: 0px;
}

.contactDescription {
    font-size: 20px;
    margin: 0px;
}

@media screen and ((max-width: 800px) or (max-height: 400px)) {
    
    .contact hr {
        width: 50%;
    }
}

@media screen and ((max-width: 400px) or (max-height: 400px)) {
    
    .contactTitle {
        font-size: 20px;
    }

    .contactDescription {
        font-size: 16px;
    }
}